/* Card Hover Effect */
.hover-shadow-lg {
  transition: all 0.3s ease;
  cursor: pointer;
}

.hover-shadow-lg:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

.card-img-overlay {
  opacity: 0;
  transition: all 0.3s ease;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.modal-backdrop.show {
  opacity: 0.9;
}
